@charset "utf-8";

/*
  background-color:rgba(0,66,126,1);
  color:#00427e;
#245D9C cyan
*/

@font-face {
  font-family: "MatissePro-B";
  src: url("./font/FOT-MatissePro-B.otf");
}
@font-face {
  font-family: "MatissePro-EB";
  src: url("./font/FOT-MatissePro-EB.otf");
}
@font-face {
  font-family: "MatissePro-L";
  src: url("./font/FOT-MatissePro-L.otf");
}
@font-face {
  font-family: "MatissePro-M";
  src: url("./font/FOT-MatissePro-M.otf");
}
@font-face {
  font-family: "RodinPro-B";
  src: url("./font/FOT-RodinPro-B.otf");
}
@font-face {
  font-family: "RodinPro-EB";
  src: url("./font/FOT-RodinPro-EB.otf");
}
@font-face {
  font-family: "RodinPro-L";
  src: url("./font/FOT-RodinPro-L.otf");
}
@font-face {
  font-family: "RodinPro-M";
  src: url("./font/FOT-RodinPro-M.otf");
}
@font-face {
  font-family: "TrajanPro-Bold";
  src: url("./font/TrajanPro-Bold.otf");
}
@font-face {
  font-family: "TrajanPro-Regular";
  src: url("./font/TrajanPro-Regular.otf");
}
@font-face {
  font-family: "TrajanPro3-Bold";
  src: url("./font/TrajanPro3-Bold.otf");
}
@font-face {
  font-family: "TrajanPro3-Regular";
  src: url("./font/TrajanPro3-Regular.otf");
}
@font-face {
  font-family: "medio";
  src: url("./font/medio.otf");
}






body,header,footer,main,div.span,p,table,tr,th,td,caption,ul,li,h1,h2,h3,h4,h5,p,img,figure {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font-weight:normal;
}
li {
  list-style:none;
}
body {
  font-family:'メイリオ', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-size:16px;
  line-height:1.8;
}
a {
  color:#000;
  text-decoration:none;
  outline:none;
}
img {
  vertical-align:bottom;
}
em {
  font-style:normal;
}
.delay {
  opacity:0.0;
}
.delay.delay-bottom {
  transform:translateY(32px);
}
.delay.delay-top {
  transform:translateY(-32px);
}
.delay.delay-left {
  transform:translateX(-32px);
}
.delay.delay-right {
  transform:translateX(32px);
}
.delay.show {
  opacity:1.0;
  transform:translate(0,0);
  transition:0.3s;
  transition-timing-function:ease-out;
}
div.left {
  float:left;
  box-sizing:border-box;
  width:50%;
}
div.right {
  float:right;
  box-sizing:border-box;
  width:50%;
}
a.more {
  display:block;
  box-sizing:border-box;
  padding:16px;
  text-align:center;
  font-size:125%;
  background-color:#2271cd;
  color:#fff;
  transition:0.2s;
}
a.more:hover {
  opacity:0.7;
  transition:0.2s;
}



/* @@mv */
div#mv {
  position:relative;
  top:0;
  left:0;
  width:100%;
  z-index:-1;
  overflow:hidden;
}
div#mv.top {
  height:720px;
}
div#mv img {
  width:100%;
}
div#mv.top img {
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  min-width:1280px;
}
div#mv img.sp {
  display:none;
}
div#mv.top p {
  position:relative;
}
div#mv.top li.mv01 p {
  top:270px;
  width:1200px;
  margin:0 auto;
  padding-left:16px;
}
div#mv.top li.mv01 p span.en {
  display:block;
  margin-top:24px;
  font-family:"medio";
  font-size:860%;
  line-height:0.8;
}
div#mv.top li.mv01 p span.ja {
  display:block;
  font-family: "MatissePro-M";
  font-size:250%;
  line-height:1.0;
}

/* @@bottomright */
div#bottomright {
  position:fixed;
  bottom:0;
  right:0;
  z-index:10;
}
div#bottomright a:hover {
  opacity:0.5;
}
div#bottomright .contact {
  overflow: hidden;
  padding:4px 8px;
  background-color:#000;
  color:#fff;
}
div#bottomright .contact h1 {
  text-align:center;
}
div#bottomright .contact .box {
  display: flex;
  justify-content: center;
}
div#bottomright .contact a {
  display:block;
  float:left;
  padding:4px;
  color:#fff;
}
div#bottomright .contact a.tel {
  text-align:center;
}
div#bottomright .contact a.tel em {
  font-size:150%;
  line-height:1.2;
}

/* @@header */
header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding-top:8px;
  z-index:10;
  transition:0.2s;
  background-color:rgba(0,66,126,0);
}
header.thin {
  padding-top:0;
  background-color:rgba(0,66,126,1);
  transition:0.2s;
}
header div.inner {
  width:1200px;
  margin:0 auto;
}
header div.logo {
  float:left;
  margin:4px 0;
  margin-left:8px;
}
header div.logo span.description {
  margin-bottom:4px;
  font-size:80%;
}
header div.logo span.name_ja {
  display:block;
  float:left;
  font-family:"MatissePro-M";
  font-size:280%;
  line-height:1.0;
}
header div.logo span.name_en {
  display:block;
  float:left;
  margin-top:4px;
  margin-left:8px;
  font-family:"TrajanPro-Regular";
  font-size:140%;
  line-height:1.0;
  letter-spacing:1px;
}
header nav {
  float:right;
}
header nav ul li {
  float:left;
}
header nav ul li a {
  display:block;
  padding:32px 16px 24px 16px;
  font-weight:bold;
  transition:0.2s;
}
header nav ul li a:hover {
  background-color:rgba(0,66,126,1);
  color:#fff;
  font-weight:normal;
  transition:0.2s;
}
header.thin a {
  color:#fff;
  font-weight:normal;
  transition:0.2s;
}
header.thin nav ul li a:hover {
  background-color:#000;
  transition:0.2s;
}
header .menubutton {
  display:none;
  float:right;
  width:64px;
  margin:8px 16px;
}
header .menubutton img {
  width:100%;
}
#header_margin {
  height:85px;
  background-color:rgba(0,66,126,1);
}

/* @@footer */
footer {
  clear:both;
  overflow:hidden;
}
footer section {
  clear:both;
  overflow:hidden;
}
footer div.inner {
  position:relative;
  top:0;
  left:0;
  width:1200px;
  margin:0 auto;
}
footer #news {
  margin:32px 0;
}
footer #news h2 {
  width:300px;
  margin-bottom:32px;
  border-top:solid #2271cd 5px;
  font-family:"MatissePro-B";
  font-size:175%;
}
footer #news img.ph {
  max-width:80%;
}
footer #news img.text {
  width:10%;
  vertical-align:top;
}
footer #news div.posts a {
  display:block;
  padding:8px;
  transition:0.1s;
}
footer #news div.posts a:hover {
  background-color:#cde;
  transition:0.1s;
}
footer #news div.posts .title {
  margin-left:32px;
}
footer #news div.posts .category {
  display:block;
  float:right;
  padding:1px 8px;
  background-color:#2271cd;
  color:#fff;
}

footer section.contact {
  padding:64px;
  padding-top:100px;
  background-color:#000;
  color:#fff;
}
footer section.contact h2 {
  text-align:center;
  font-family:"MatissePro-B";
  font-size:175%;
}
footer section.contact p {
  text-align:center;
}
footer section.contact form {
  box-sizing:border-box;
  width:50%;
  margin:16px auto;
  border:solid #888 3px;
  padding:16px 64px;
}
footer section.contact form table {
  width:100%;
}
footer section.contact form table th {
  width:30%;
}
footer section.contact form table th label {
  display:block;
  padding:16px 0;
  padding-right:32px;
  color:#fff;
  text-align:left;
}
footer section.contact form table td {
  width:70%;
  padding:8px;
  border-bottom:solid #888 3px;
}
footer section.contact form input[type=text],
footer section.contact form input[type=email],
footer section.contact form input[type=tel],
footer section.contact form textarea {
  width:100%;
  border:0;
  padding:8px;
  background-color:#000;
  font-size:100%;
  color:#fff;
}
footer section.contact form textarea {
  height:10em;
}
footer section.contact form div.submit {
  text-align:center;
  margin:64px 0;
}
footer section.contact form input[type=submit] {
  border:0;
  border:solid #fff 3px;
  padding:8px 32px;
  color:#fff;
  background-color:#000;
  font-size:150%;
  cursor:pointer;
  transition:0.1s;
}
footer section.contact form input[type=submit]:hover {
  background-color:#fff;
  color:#000;
  transition:0.1s;
}
footer section.map {
  padding:32px;
  text-align:center;
  background-color:#fff;
}
footer section.map iframe {
  width:100%;
  height:600px;
  max-width:1280px;
}
footer section.banner {
  padding:32px 0;
  text-align:center;
  background-color:#fff;
}
footer section.banner ul li {
  display:inline-block;
  margin:0 16px;
}
footer section.banner ul li:hover {
  opacity:0.7;
}
footer section.nav {
  overflow:hidden;
  padding-bottom:16px;
  text-align:center;
  background-color:#000;
  color:#fff;
}
footer section.nav a {
  color:#fff;
}
footer section.nav a:hover {
  text-decoration:underline;
}
footer section.nav nav {
  margin:64px 0;
}
footer section.nav nav ul li {
  display:inline-block;
  margin:0 16px;
}

/* @@pagetop */

div.pagetop {
  display:none;
  position:fixed;
  bottom:240px;
  right:32px;
  z-index:5;
}



/* @@main */

main {
  position:relative;
  top:0;
  left:0;
  overflow:hidden;
  width:100%;
  margin:16px 0;
  background-color:#fff;
  z-index:1;
}
main section {
  clear:both;
  overflow:hidden;
  width:auto;
  height:auto;
  margin:16px 0;
}
main div.inner {
  position:relative;
  overflow:hidden;
  top:0;
  left:0;
  width:1280px;
  height:auto;
  margin:0 auto;
}
main section .leftimg {
  position:absolute;
  top:0;
  left:0;
  max-width:14%;
  z-index:1;
  text-align:left;
}
main section .rightimg {
  position:absolute;
  top:0;
  right:0;
  max-width:14%;
  z-index:1;
  text-align:right;
}
main section .leftimg img,
main section .rightimg img {
  max-width:100%;
}

/* @@top */

main.top section h2 {
  width:300px;
  margin-bottom:32px;
  border-top:solid #2271cd 5px;
  font-family:"MatissePro-B";
  font-size:175%;
}
main.top #s01 p.summary {
  margin:48px 0;
  font-family:"MatissePro-B";
  font-size:185%;
  line-height:2.0;
  text-align:center;
}
main.top #s01 div.col2 {
  overflow:hidden;
  padding-bottom:64px;
}
main.top #s01 div.col2 .left img {
  width:100%;
}
main.top #s01 div.col2 .right {
  overflow:hidden;
  box-sizing:border-box;
  padding-left:32px;
}
main.top #s01 div.col2 .right h2 {
  margin-bottom:64px;
}
main.top #s01 div.col2 .right p {
  line-height:2.4;
}

main.top #s02 {
  position:relative;
  margin:32px 0;
}
main.top #s02 div.bg {
  overflow:hidden;
}
main.top #s02 div.bg img {
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  height:100%;
  min-width:1500px;
}
main.top #s02 div.front {
  position:relative;
  top:0;
  left:0;
  z-index:1;
  padding:16px 48px;
}
main.top #s02 h1 {
  margin:16px 0;
  text-align:center;
  font-family:"MatissePro-M";
  font-size:175%;
  color:#fff;
  display:flex;
  align-items:center;
}
main.top #s02 h1:before,
main.top #s02 h1:after {
  content:"";
  flex-grow:1;
  height:1px;
  background:#fff;
  display:block;
}
main.top #s02 h1:before {
  margin-right:16px;
}
main.top #s02 h1:after {
  margin-left:16px;
}
main.top #s02 h3 {
  margin:16px 0;
  text-align:center;
  font-family:"MatissePro-M";
  font-size:250%;
  color:#fff;
}
main.top #s02 p {
  margin:8px 0;
  text-align:center;
  color:#fff;
}
main.top #s02 table {
  width:100%;
  margin:8px auto;
}
main.top #s02 table td {
  padding-bottom:16px;
}
main.top #s02 table figure {
  text-align:center;
}
main.top #s02 table figure img {
  max-width:100%;
}
main.top #s02 table figcaption {
  margin-top:8px;
  text-align:center;
  color:#fff;
}

main.top #s03 {
  margin:32px 0;
}
main.top #s03 div.left {
  padding:0 64px;
}
main.top #s03 h3 {
  margin-bottom:16px;
  font-family:"MatissePro-B";
  font-size:175%;
  color:#2271cd;
}
main.top #s03 h3.a_right {
  text-align:right;
}
main.top #s03 p {
  margin-bottom:64px;
  line-height:1.6;
}
main.top #s03 img {
  width:100%;
}

main.top #s04 a {
  display:block;
  overflow:hidden;
  width:100%;
}
main.top #s04 img {
  width:100%;
  transition:0.1s;
}
main.top #s04 img:hover {
  opacity:0.9;
  transform:scale(1.1);
  transition:0.2s;
}





