@charset "utf-8";

/*
#219fa1 green
#2c4c77 blue
*/


body,header,footer,main,div.span,p,table,tr,th,td,caption,ul,li,h1,h2,h3,h4,h5,p,img,object {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font-weight:normal;
}
em {
  font-style:normal;
}
li {
  list-style:none;
}
body {
  font-family:'メイリオ', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-size:16px;
  line-height:1.6;
  background-color:#f8f8f8;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
a {
  color:#000;
  text-decoration:none;
}

header {
  position:fixed;
  z-index:11;
  box-sizing:border-box;
  width:100%;
  padding:8px 16px;
  color:#fff;
  background-color:#2c4c77;
}

header .menubutton {
  display:none;
  position:absolute;
  right:4px;
  top:4px;
  box-sizing:border-box;
  border:solid #2c4c77 2px;
  padding:4px;
  font-size:80%;
  font-weight:bold;
  color:#2c4c77;
  background-color:#fff;
  cursor:pointer;
}
aside .menubutton {
  margin-top:64px;
  display:none;
}

aside {
  position:fixed;
  width:200px;
  height:100%;
  padding-top:48px;
  background-color:#ccc;
  z-index:10;
}
aside ul li {
  padding:8px 16px;
  cursor:pointer;
}
aside ul li:hover {
  color:#fff;
  background-color:#2c4c77;
}
aside ul li:hover a {
  color:#fff;
}

main {
  overflow:hidden;
  margin-left:200px;
  padding:16px 32px;
  padding-top:64px;
}
main section {
  display:none;
}
main section.current {
  display:block;
}
main section h1 {
  font-size:150%;
  margin-bottom:32px;
}
main section form label {
  clear:both;
  display:block;
  margin-bottom:16px;
}
main section form input {
  padding:2px 8px;
  font-size:100%;
}
main section form input[type="text"] {
  width:40em;
  max-width:100%;
}
main section form textarea {
  width:40em;
  max-width:100%;
  height:10em;
  padding:8px;
  font-size:100%;
}
main section form input[type="button"] {
  border:none;
  padding:8px 16px;
  color:#fff;
  background-color:#2c4c77;
}
main section form input[type="button"].strong {
  background-color:#219fa1;
}
main section form input[type="button"]:hover {
  cursor:pointer;
  opacity:0.7;
}

section.post_single.add_news label#post_month_label,
section.post_single.edit_news label#post_month_label,
section.post_single.add_news label#post_category_label,
section.post_single.edit_news label#post_category_label {
  display:none;
}
section.post_single label span {
  font-weight:bold;
}
section.post_single .imgbox {
  clear:both;
  margin-bottom:16px;
}
section.post_single .imgpreviewbox {
  position:relative;
  float:left;
  overflow:hidden;
}
section.post_single .post_imgpreview {
  display:block;
  overflow:hidden;
  margin-bottom:16px;
}
section.post_single .post_imgpreview img,
section.post_single .post_imgpreview object {
  max-width:100%;
  max-height:200px;
}
section.post_single .imgpreviewbox .post_img_delete,
section.post_single .imgpreviewbox .post_img_up,
section.post_single .imgpreviewbox .post_img_down {
  position:absolute;
}
section.post_single .imgpreviewbox .post_img_delete {
  top:16px;
  left:16px;
}
section.post_single .imgpreviewbox .post_img_up {
  top:64px;
  left:16px;
}
section.post_single .imgpreviewbox .post_img_down {
  top:108px;
  left:16px;
}
section.post_single .imgpreviewbox:hover .post_img_delete,
section.post_single .imgpreviewbox:hover .post_img_up,
section.post_single .imgpreviewbox:hover .post_img_down {
  display:inline;
}
section.post_single .buttonbox {
  clear:both;
}

section.posts_list table {
  border-collapse:collapse;
  width:100%;
  max-width:100%;
}
section.posts_list table tr.news_row:hover {
  background-color:#ccc;
  cursor:pointer;
}
section.posts_list table tr th,
section.posts_list table tr td {
  box-sizing:border-box;
  border:solid #888 1px;
  padding:16px;
}
section.posts_list table tr th {
  background-color:#ccc;
}
section.posts_list table tr td.post {
  max-width:500px;
}
section.posts_list table tr td img,
section.posts_list table tr td object {
  max-width:100%;
  max-height:150px;
  margin-bottom:8px;
}
section.posts_list table tr td span.title {
  display:block;
  margin-bottom:8px;
  font-weight:bold;
}
section.posts_list table tr td span.text {
  display:block;
}
section.posts_list table tr td span.updated_at {
  display:block;
}
section.posts_list table tr td span.created_at {
  display:block;
}






@media only screen and (max-width:800px) {

body {
  font-size:14px;
}

header .menubutton {
  display:block;
}
aside .menubutton {
  display:block;
}
aside {
  width:33.33%;
  right:0;
}
main {
  margin-left:0px;
}

section.posts_list table tr td img,
section.posts_list table tr td object {
  float:none;
  width:100%;
  margin:0;
}

}

