@charset "utf-8";

body {
  width:1280px;
  margin:0 auto;
  -webkit-print-color-adjust: exact;
}

header {
  position:static;
  background-color:rgba(0,66,126,1);
}
header a {
  color:#fff;
}
header.thin {
  background-color:rgba(0,66,126,1);
}
header.thin a {
  color:#fff;
}

.delay {
  opacity:1.0;
}
.delay.delay-bottom {
  transform:translateY(0);
}
.delay.delay-top {
  transform:translateY(0);
}
.delay.delay-left {
  transform:translateX(0);
}
.delay.delay-right {
  transform:translateX(0);
}




