<div id="header_margin"></div>

<div id="mv" class="page delay">
  <div class="main">
    <img class="pc" src="/static/img/works/title_works.jpg">
  </div>
</div><!--/#mv-->

<main class="works page">

<section id="s01">
  <div class="inner delay delay-bottom">
    <div class="leftimg delay delay-left"><img src="/static/img/base01.png"></div>
    <div class="rightimg delay delay-right"><img src="/static/img/base02.png"></div>
    <div class="page_inner works_list">
      <h2 class="delay">[施工実績一覧]</h2>
      <p>写真をクリックすると、施工実績の詳細をご覧いただけます。</p>
      @@@post_works_list@@@
      <!--
      <div class="main">
        <h2 class="delay">[裾野市テナント兼アパート外壁塗装工事]</h2>
        <table>
          <tr><th>[Before]</th><th></th><th>[After]</th></tr>
          <tr>
            <td><img src="/static/img/works/before.jpg"></td>
            <td><img src="/static/img/works/arrow.png"></td>
            <td><img src="/static/img/works/after.jpg"></td>
          </tr>
        </table>
      </div>
      <div class="photos">
        <h3>[PHOTO]</h3>
        <ul>
          <li><img src="/static/img/works/works_ph001.jpg"></li>
          <li><img src="/static/img/works/works_ph002.jpg"></li>
          <li><img src="/static/img/works/works_ph003.jpg"></li>
        </ul>
      </div>
      <div class="data">
        <h3>[ 施工データ ]</h3>
        <span class="title">裾野市テナント兼アパート外壁塗装工事</span><br>
        <span class="month">2018年</span><span class="category">外壁塗装</span><br>
        <span class="text"></span>
      </div>
      -->
    </div><!--/.page_inner-->
  </div><!--/.inner-->
</section>

<section class="area delay delay-bottom">
  <h2>[対応エリア]</h2>
  <div class="inner">
    <div class="left">
      <img src="/static/img/area.png">
    </div>
    <div class="right">
      <p>
        静岡県東部全域<br>
        沼津市、三島市、熱海市、伊東市、御殿場市、<br>
        裾野市、伊豆市、伊豆の国市、函南町、清水町、<br>
        長泉町、小山町、富士市、富士宮市<br>
        <span class="small">※その他のエリアも対応いたします。お気軽にご相談ください。</span><br>
      </p>
    </div>
  </div><!--/.inner-->
</section>

</main>
