<div id="header_margin"></div>

<div id="mv" class="page delay">
  <div class="main">
    <img class="pc" src="/static/img/news/title_news.jpg">
  </div>
</div><!--/#mv-->

<main class="news page">

<section id="s01"">
  <h2 class="delay">
    [岩本塗装 - 塗装日誌]<br>
    <span class="small">お知らせや塗装についてのことなどを発信します。</small>
  </h2>
  <div class="inner">
    <div class="leftimg delay delay-left"><img src="/static/img/base01.png"></div>
    <div class="rightimg delay delay-right"><img src="/static/img/base02.png"></div>
    <div class="page_inner">
      <div class="posts">
        @@@post_single@@@
      </div>
      <aside>
        <p class="title">CATEGORY</p>
        <ul>
          <li><a href="/news/">ニュース</a></li>
          <li><a href="/news/">工事について</a></li>
        </ul>
        <p class="title">ARCHIVES</p>
        <ul>
          <li><a href="/news/">2018.12</a></li>
        </ul>
      </aside>
    </div>
  </div>
</section>

<section class="area delay delay-bottom">
  <h2>[対応エリア]</h2>
  <div class="inner">
    <div class="left">
      <img src="/static/img/area.png">
    </div>
    <div class="right">
      <p>
        静岡県東部全域<br>
        沼津市、三島市、熱海市、伊東市、御殿場市、<br>
        裾野市、伊豆市、伊豆の国市、函南町、清水町、<br>
        長泉町、小山町、富士市、富士宮市<br>
        <span class="small">※その他のエリアも対応いたします。お気軽にご相談ください。</span><br>
      </p>
    </div>
  </div><!--/.inner-->
</section>

</main>




