<div id="header_margin"></div>

<div id="mv" class="page delay">
  <div class="main">
    <img class="pc" src="/static/img/flow/title_workflow.jpg">
  </div>
</div><!--/#mv-->

<main class="flow page">

<section id="s01">
  <h2 class="delay">
    [お問合せからアフターフォローまで]<br>
    <span class="small">
      お問い合わせから工事完了、アフターフォローまで。<br>
      ご相談も随時受け付けておりますのでまずはお気軽にご連絡ください。<br>
    </span>
  </h2>
  <div class="inner delay delay-bottom">
    <div class="leftimg delay delay-left"><img src="/static/img/base01.png"></div>
    <div class="rightimg delay delay-right"><img src="/static/img/base02.png"></div>
    <div class="page_inner">
      <h3>01.お問合せ</h3>
      <p>
        電話かメールフォームにてお問合せください。<br>
        どんな些細なことでもお気軽にご相談ください。<br>
        <a class="more" href="#contact">お問合せはこちらから</a>
      </p>
      <h3>02.ヒアリング・現地調査</h3>
      <p>
        お客様へメールまたは電話にてご連絡をさせて頂き、<br>
        ご都合のよい日程でご自宅にて打ち合わせいたします。<br>
        お客様の条件、ご要望などをじっくりお聞きいたします。<br>
        ご意見を最大限反映し、丁寧にアドバイスいたします。<br>
      </p>
      <h3>03.プラン、ご予算のご提案</h3>
      <p>
        お客様に現地調査の報告をするとともに、予算等のご要望に沿えるよう<br>
        シミュレーションをご用意し、私たちの知識と経験を生かした効果的なプランをご提案させていただきます。<br>
        <br>
        お客様とのすり合わせを重ね、プランの方向性が決定しましたら概算書を提出させていただきます。<br>
        <a class="more" href="/#s02">シミュレーションとは？</a>
      </p>
      <h3>04.ご契約</h3>
      <p>
        お見積り・施工内容にご納得いただけましたらご契約となります。<br>
        正式にご契約をさせていただき次のステップへとすすみます。<br>
      </p>
      <h3>05.工事</h3>
      <div class="flow_inner">
        <h4>近隣の方へご挨拶</h4>
        <p>工事の前にご近所様へのご挨拶はかかせません。</p>
        <p><img src="/static/img/flow/workflow_arrow.png"></p>
        <h4>足場・メッシュシートの設置</h4>
        <p><img src="/static/img/flow/workflow_arrow.png"></p>
        <h4>高圧洗浄</h4>
        <p>外壁や屋根の塗装面についた汚れを高圧洗浄でしっかり落とし<br>塗装しやすいようにします。</p>
        <figure><img src="/static/img/flow/flow01.jpg"><figcaption>高圧洗浄</figcaption></figure>
        <p><img src="/static/img/flow/workflow_arrow.png"></p>
        <h4>下地処理・養生</h4>
        <p>ひび割れなどにコーキング処理を施します。</p>
        <figure><img src="/static/img/flow/flow02.jpg"><figcaption>コーキング</figcaption></figure>
        <figure><img src="/static/img/flow/flow03.jpg"><figcaption>コーキング下塗り</figcaption></figure>
        <p><img src="/static/img/flow/workflow_arrow.png"></p>
        <h4>塗装</h4>
        <p>下塗りから上塗りまで安全で丁寧な作業を<br>徹底して行います。塗り残しがないよう最終チェックまでしっかり行います。</p>
        <ul>
          <li><figure><img src="/static/img/flow/flow04.jpg"><figcaption>外壁下塗り</figcaption></figure></li>
          <li><figure><img src="/static/img/flow/flow05.jpg"><figcaption>補修箇所下塗り</figcaption></figure></li>
          <li><figure><img src="/static/img/flow/flow06.jpg"><figcaption>軒天中塗り</figcaption></figure></li>
        </ul>
        <ul>
          <li><figure><img src="/static/img/flow/flow07.jpg"><figcaption>帯板上塗り</figcaption></figure></li>
          <li><figure><img src="/static/img/flow/flow08.jpg"><figcaption>樋上塗り</figcaption></figure></li>
          <li><figure><img src="/static/img/flow/flow09.jpg"><figcaption>軒天上塗り</figcaption></figure></li>
        </ul>
        <ul>
          <li><figure><img src="/static/img/flow/flow10.jpg"><figcaption>外壁上塗り</figcaption></figure></li>
          <li></li>
          <li></li>
        </ul>
        <p><img src="/static/img/flow/workflow_arrow.png"></p>
        <h4>クリーニング・足場解体</h4>
        <p><img src="/static/img/flow/workflow_arrow.png"></p>
        <h4>完成</h4>
        <p>お客様に確認していただき引き渡しとなります。</p>
      </div>
      <!--
      <div class="photos">
        <img src="/static/img/about/photo.jpg">
        <img src="/static/img/about/photo.jpg">
        <img src="/static/img/about/photo.jpg">
      </div>
      -->
      <h3>06.アフターフォロー</h3>
      <p>
        工事の後が岩本塗装の腕の見せ所。長期的なサポート体制を作り、<br>
        定期的なメンテナンスや気づいた点があればいつでも伺います。<br>
        10年後も笑顔でお客様に会える様に。<br>
      </p>
    </div><!--/.page_inner-->
  </div><!--/.inner-->
</section>

<section class="area delay delay-bottom">
  <h2>[対応エリア]</h2>
  <div class="inner">
    <div class="left">
      <img src="/static/img/area.png">
    </div>
    <div class="right">
      <p>
        静岡県東部全域<br>
        沼津市、三島市、熱海市、伊東市、御殿場市、<br>
        裾野市、伊豆市、伊豆の国市、函南町、清水町、<br>
        長泉町、小山町、富士市、富士宮市<br>
        <span class="small">※その他のエリアも対応いたします。お気軽にご相談ください。</span><br>
      </p>
    </div>
  </div><!--/.inner-->
</section>

</main>


